
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-Bold.eot");
    src: local("☺"), url("./Montserrat-Bold.woff") format("woff"),
        url("./Montserrat-Bold.ttf") format("truetype"), url("./Montserrat-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}
