.Registration{
    background: #10417B;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px 25px 35px;
    align-self: flex-start;
    max-width: 487px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .formTitle{
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        text-align: center;
        }
        p{
            margin-top: 15px;
            font-size: 10px;
            line-height: 10px;
        }
        .TextFields{
            margin: 7.5px 0;
        }
    a{
        color: cyan;
        text-decoration: none;
    }
    .checkboxs{
        margin: 47.5px 0 40px;

    }
    .checkboxContainer{
        margin: 7.5px 0;
    }
    
}
#root, body, html{
    height:100%
}
.MuiGrid-root.RegistrationContainer{
    //height:calc(100% - 209px);
    margin-top: 113px;
    //max-height: 100%;
    display: stretch;
    padding: 5px;
}