.SimpleModal{
    &Text{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 35px 0;
        color: #FFFFFF;
    }
    
    button.SimpleModalBtn{
        width: 200px;
        height: 45px;
        background: #FFFFFF;
        border-radius: 8px;
        color: #10417B;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
    }
}