@import '../../mixins.scss';

.rules{
    &Block{
        margin-top: 70px;   
    }
    
    &Container{

        background: url('../../img/sCircles.svg') no-repeat;
        background-size: contain;
        background-position: center;
        font-size: 10px;
        max-width: 705px;
        min-height: 705px;

        margin: 60px auto 0;

        a{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            @include adaptiv-font(16px);
            //font-size: 16px;
            line-height: 1.5em;
            /* identical to box height, or 150% */
    
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
    
            color: #FFFFFF;
            //position: absolute;
            //bottom: -30px;
            //margin: auto;
        }
        .rulesNumb{
            max-width: 60px;
        }
    }
    &List{
        

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 17px;
        align-items: center;
        max-width: 320px;
        position: relative;

        padding-top: 20px;
        padding-bottom: 3em;

        text-transform: uppercase;
        font-style: normal;

        img:first-child{
            margin-left: 10px;
        }
        span{
            font-family: "Montserrat";
            font-weight: 900;
            font-size: 2.4em;
            line-height: 1.08em;
            color: #FFFFFF;
    
        }
        p{
            margin-top: 5px;
            font-family: "Gotham Pro";
            font-weight: bold;
            font-size: 1.8em;
            line-height: 1em;
            color: #FFFFFF;
            
        }

    }

}

@media (max-width: 545px) {
    .rulesContainer{
        margin-top: 35px;
        font-size: 8px;
        min-height: 545px;

    }

}
@media (max-width: 488px) {
    .rulesContainer{
        font-size: 7.7px;
        background-size: 488px;
        min-height: 505px;

    }
    .rulesList{
        padding-left: 20px;
        padding-right: 20px;

    }
}