@import "../../mixins.scss";

.modalContainer .modalBtn,
.modalWindow .modalBtn {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  height: 45px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  color: #10417b;
  font-weight: bold;
  //font-size: 16px;
  @include adaptiv-font(16, 15);
  //line-height: 15px;
  box-sizing: border-box;
  .modalBtn {
    width: 200px;
    box-sizing: border-box;
  }
}
.modalContainer {
  box-sizing: border-box;
}
.modalWindow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .modalWindowClose {
    color: #fff;
    position: absolute;
    right: 13px;
    top: 13px;
    svg {
      width: 31px;
      height: 31px;
    }
  }
  .modalBtn {
    width: 200px;
  }
  background: #10417b;
  padding: 55px 75px 50px;
  @media(max-width: 600px){
    padding: 45px 25px 35px;
  }
  @media(max-width: 400px){
    padding: 35px 10px 25px;
  }

  max-width: 600px;
  box-sizing: border-box;
  margin: auto;

  border-radius: 8px;

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    @include adaptiv-font(24, 29);
    //font-size: 24px;
    //line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
  }
}
.modal {
  display: flex;
  padding: 10px;
}

.modalWindow:focus {
  outline: none;
}
