.User{
    display: flex;

    button{
        margin-left: 30px;
        padding: 0;
        height: 32px;
        padding: 0 15px;
        text-align: center;
        border-radius: 5px;

    }
    &Name{
        margin-left: 30px;
        cursor: pointer;
    }
    button.modalBtn{
        border: 2px solid #fff;
        padding: 0 15px;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        height: 32px;
    }
    .headerListReg{
        a{color: #10417B;}
    }

}
li.User{
    margin: 0;
}
.cabinetLink{
    margin-left: 30px;
    
}