@import "../../../../mixins.scss";

.User {
  display: flex;

  button {
    margin-left: 30px;
    padding: 0;
    height: 32px;
    border-radius: 5px;
  }
  &Name, .cabinetLink  {
    margin-left: 30px;
    cursor: pointer;
  }
  button {
    border-radius: 5px !important;
  }
  button.modalBtn {
    height: 32px;
    padding: 8px 15px 8px;
    box-sizing: border-box;
  }
  .headerListReg {
    a {
      color: #10417b;
    }
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: bold;
    @include adaptiv-font(18, 17);
    //font-size: 18px;
    //line-height: 17px;
  }
}
li.User {
  margin: 0;
}
.cabinetLink {
  margin-left: 30px;
}
