div .table{
    margin: auto;
    box-shadow: none;
    background-color: transparent;
    max-width: 996px;
    .tableHeader th{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;

        color: #004088;

        &:nth-child(1){
            width: 25%;
        }
        &:nth-child(2){
            width: 31%;
        }
        &:nth-child(3){
            width: 20%;
        }
        &:nth-child(4){
            width: 24%;
        }
    }
    .tableCell{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;

        color: #004088;
    }
    tr, .tablePagination, .tableHeader th{
        background-color: #FFDD00;
        height: 53px;
    }
    .tablePagination{
        margin-top: 20px;
        ul{
        justify-content: center;
        }
        li{
            list-style: none;
            margin: 0 9px;
            padding: 0;
            &:first-child{
                margin-right: 20px;
            }
            &:last-child{
                margin-left: 20px;
            }
            .MuiPaginationItem-page{
                border-radius: 4px;
                padding: 0;
                margin: 0;
                color: #055BA4;
                min-width: auto;
                width: 18px;
                height: 30px;

                &.Mui-selected{
                    background: #055BA4;
                    color: #fff
                }
            }
        }
    }
    tr td, tr th{
        border:none
    }
    tr:nth-child(2n+1){
        background-color: #fff;
    td:first-child{
    border-radius: 7px 0 0 7px;
    }
    td:last-child{
        border-radius: 0 7px 7px 0;
    }

    }
}


//@media