
.random{
    &Screen{
        min-height:800px;
        background: url('../img/video.png') no-repeat;
        background-size:100%
    }

    &SubScreen{
    max-height: 800px;
    max-width:470px;
    margin: 0 auto;
    padding: 15%;
}}
