.rules{
    &Block{
        margin-top: 70px;   
    }
    
    &Container{

        font-size: 10px;

        padding: 170px 0;
        a{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 1.6em;
            line-height: 1.5em;
            /* identical to box height, or 150% */
    
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
    
            color: #FFFFFF;
            //position: absolute;
            //bottom: -30px;
            //margin: auto;
        }
        .rulesNumb{
            margin-right: 2em;
            max-width: 60px;
        }
    }

    &Bg{
        ///background: url("../img/sCircles.svg") no-repeat;  
        position: absolute;  
        max-width: 705px;
        max-height: 705px;
            //minWidth: '488px',
        min-height: 488px;
            //height: '100%',
        //width: 100%;
        margin: auto;
    }
    
    &List{
        background-size:contain;
        max-width: 27em;
        position: relative;
        margin-right: 40px;
        margin:auto;
        max-width: 320px;
        text-transform: uppercase;
        font-style: normal;
        span{
            font-family: "Montserrat";
            font-weight: 900;
            font-size: 2.4em;
            line-height: 1.08em;
            color: #FFFFFF;
    
        }
        p{
            font-family: "Gotham Pro";
            font-weight: bold;
            font-size: 1.8em;
            line-height: 0.94em;
            color: #FFFFFF;
            
        }

    }

}

@media (max-width: 545px) {
    .rulesContainer{
        font-size: 8px;
        .rulesNumb{
            max-width: 30px;
        }
    }

}
@media (max-width: 450px) {

    
    .rulesContainer{
        font-size: 6.5px;
        .rulesList{
            margin-left: 25px;
            max-width: 250px;
            li{
                padding: 2px;
            }
        }
        .rulesNumb{
            max-width: 20px;
        }
    }

}